body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  line-height: 1.9;
  color: #8c8c8c; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif;
  color: #000; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.text-black {
  color: #000; }

#.content {
#  padding: 1rem 0; 
#  }

.heading {
#  font-size: 2rem;
	font-weight: 900; 
	margin-top: 10px;
	font-size: 30px;
}

.form-control {
  border: none;
  background: #f3f3f3; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
    background: #f3f3f3; }

.col-form-label {
  color: #000; }

.btn, .form-control, .custom-select {
  height: 50px; }

.custom-select:active, .custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000; }

.btn {
  border: none;
  border-radius: 4px !important; 
}
  
.btn.btn-primary {
    background: #647de8;
    color: #fff;
    padding: 15px 20px; 
	margin-left: 25%;
}

/*
.btn.btn-primary:hover {
    background: #647de8;
}	
*/	
  .btn:hover {
    color: #fff; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.box {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08); }
  .box h3 {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center; }

label.error {
  font-size: 12px;
  color: red; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; 
}

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000; }
  
  
  
  
  
  
  
.float-parent-element { 
    width: 100%; 
} 
.float-child-element { 
    float: left; 
    width: 50%; 
}


.contactMedium {
    align-items: center;
    padding-top: 2%;
    padding-left: 10%;
    border-top-style: solid;
    border-top-width: thick;
    border-top-color: #7f8ecd;
    background: #fcfdfd;
}
.contactMedium h5{
	margin-left: 17%
}
.contactMedium i{
	margin-top: 11px;
	margin-left: 31%;
	font-size:32px;
}
.contactMedium p{
	margin-left: 17%;
    font-variant-caps: normal;
    font-weight: 600;
}
.contactMedium p a{
	color : #8c8c8c
}
.contactMedium p a:hover, i:hover{
	color : #647de8
}

.contactMedium p:hover{
	color : #647de8
}
.active {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 3px;
    border-radius: 10px;
    border: solid;
    border-color: #bbe8cb;
    background: #cff6dd;
    color: #1fa750;
}
.waiting {
	padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 3px;
    border-radius: 10px;
    border: solid;
    border-color: #f2e2b2;
    background: #fdf5dd;
    color: #cfa00c; 
}
.listicon{
	font-size: 28px;
}
.listcontent{
	
}
.table td, .table th {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
.table {
    margin-left: 5%;
    margin-bottom: 1rem;
    color: #212529;
}
#form-message-success {
    margin-top: -20px;
    margin-bottom: 15px;
    color: #55A44E;
    font-size: 18px;
	font-weight: bold;
}
#form-message-warning {
	margin-top: -20px;
    margin-bottom: 15px;
    color: #cd2a32;
    font-size: 18px;
	font-weight: bold;
}
.head-container {
    border: 3px solid #fff;
    padding: 5px 10px 0px 10px
}

.head-title {
	height: 100px;
    width: 65%;
    float: left;
    padding-top: 25px;
    # border: 2px solid red;
}
.head-logo {
	height: 100px;
    width: 35%;
    float: left;
    padding: 10px;
    # border: 2px solid red;
}
#contactForm {
	margin-top: 20px;
}  
.seperator {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgb(2 133 229 / 99%);
}
.queryContainer {
	text-align: center;
}

.queryContainer span{
	
}






/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #fdc134;
}

a:hover {
  color: #fdd067;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #284864;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
  transition: all ease-in-out 0.3s;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #fdc134;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 100px;	
  z-index: 997;
  transition: all 0.5s;
  padding: 14px 0;
  background: #FFFFFF;
  border-bottom: solid;
}

#header .logo h1 {
  font-size: 24px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo h1 a span, #header .logo h1 a:hover span {
  color: #fdc134;
}

#header .logo img {
  padding: 0;
  margin-left: 10px;
  max-height: 65px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu ul {
  border-radius: 6px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #adc7de;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  text-decoration: none;
}

.nav-menu .get-started a {
  background: #213b52;
  color: #fff;
  border-radius: 50px;
  margin: 2px 0 0 15px;
  padding: 4px 25px 6px 25px;
  border: 2px solid #fdc134;
}

.nav-menu .get-started a:hover {
  background: #fdc134;
  color: #213b52;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #3e6f9b;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #fdc134;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 35px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #7992ed;
  font-size: 40px;
  margin-right: 5px
}

.mobile-nav {  
  position: fixed;
  top: 95px;
  right: 38px;
  bottom: 300px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav span {
  display: block;
  position: relative;
  color: #213b52;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
  transition: 0.3s;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #fdc134;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav .get-started a {
  background: #213b52;
  color: #fff;
  border-radius: 50px;
  margin: 15px;
  padding: 8px 25px 10px 25px;
  text-align: center;
}

.mobile-nav .get-started a:hover {
  background: #fdc134;
  color: #213b52;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(18, 33, 46, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
